.btn{
    background-color: #0d6efd ;
    padding: 10px;
    border: none;
}
.btn:hover{
    background-color: blue;
}
.btn-group{
    display: flex;
}

.btn:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.active:focus{
    border: 3px solid red;
    background-color: blue;
}